*{
    margin: 10px;
    padding: 10px;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffffff;
}
menu, nav, aside, footer{
    display: none;
}
article::after{
    content: " - SIte criado por Curso em video.com";
}